{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Header -->
    <link rel="icon" type="image/png" href="{% static 'images/LogoTitleHeader.png' %}">
    <title>Fortis Global Systems</title>
    <!-- Style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap" rel="stylesheet">    
</head>
<body class="{% if request.resolver_match.url_name == 'home' %}home-page{% endif %}">
    <div class="bg-image-container"></div>

    <header id="header">
        
        <!--div class="logo-only" onclick="window.location='{% url 'home' %}'"><div class="hidden-container">
            <img class="logo-image" id="on-scroll" src="{% static 'images/LogoRectangle.png' %}" alt="Fortis Global Systems">
            <div class="bg-overlay"></div>
        </div> </div-->

        <nav class="navbar">
            <div class="nav-container">
                <div class="homelink" onclick="window.location='{% url 'home' %}'">
                    <img class="logo-image" src="{% static 'images/LogoRectangle.png' %}" alt="Fortis Global Systems">
                </div>
                <ul class="nav-links">
                    <li><a class="nav-button {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a></li>
                    <li><a class="nav-button {% if request.resolver_match.url_name == 'services' %}active{% endif %}" href="{% url 'services' %}">Services</a></li>
                    <li><a class="nav-button {% if request.resolver_match.url_name == 'quality_assurance' %}active{% endif %}" href="{% url 'quality_assurance' %}">Quality Assurance</a></li>
                    <li><a class="nav-button {% if request.resolver_match.url_name == 'about_us' %}active{% endif %}" href="{% url 'about_us' %}">About Us</a></li>
                    <li><a class="nav-button {% if request.resolver_match.url_name == 'our_responsibility' %}active{% endif %}" href="{% url 'our_responsibility' %}">Our Responsibilites</a></li>                </ul>
            </div>
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
        </nav>
        <div class="down-container">
            <img class="down-image" onclick="scrollDown()" src="{% static 'images/ScrollDown.png' %}" alt="Scroll Down">
        </div>
    </header>

    <main class="content">
        <div class="container" id="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <ul class="footer-nav-links">
            <li><a class="nav-button" href="{% url 'home' %}">Home</a></li>
            <li><a class="nav-button" href="{% url 'services' %}">Services</a></li>
            <li><a class="nav-button" href="{% url 'quality_assurance' %}">Quality Assurance</a></li>
            <li><a class="nav-button" href="{% url 'about_us' %}">About Us</a></li>
            <li><a class="nav-button" href="{% url 'our_responsibility' %}">Our Responsibilites</a></li>
        </ul>
        <div class="container" id="footer-content">
            <div class="footer-section">
                <h5>Contact Us</h5>
                <div class="thanks-msg-container"><p class="thanks-msg">Thanks for sending your message! We'll get back to you as soon as we can!</p></div>
                <form class="contact-form" action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <div class="submit-text-container">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="footer-section">
                <h5>Why Choose Fortis Global Systems?</h5>
                <p class="footer-text">We provide innovative solutions, quality service, and a commitment to sustainability.</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
