{% extends "base.html" %}
{% load static %}

{% block title %}Home | Fortis Global Systems{% endblock %}


{% block content %}
<h2 class="div-container">Welcome to Fortis Global Systems</h2>
<p class="smaller">Fortis Global Systems LTD (FGS) is a distinguished provider of integrated safety and security solutions, specializing in Life Safety, Physical & IT Security Systems, and cutting-edge AI-driven innovations. We offer expert consultation, compliance support, and innovative technology to help businesses navigate complex regulatory landscapes while operating securely and efficiently.</p>
{% endblock %}

