{% extends "base.html" %}

{% block title %}Home | Fortis Global Systems{% endblock %}

{% block content %}
<h2 class="div-container">Corporate Social Responsibility (CSR)</h2>
<p class="smaller">FGS is committed to sustainability and corporate responsibility. Our CSR initiatives focus on:</p>
<ul class="bullet-container">
    <li class="simple-bullets">Environmental Sustainability: Reducing carbon footprint through green technologies</li>
    <li class="simple-bullets">Community Engagement: Supporting local communities with technology and security solutions</li>
    <li class="simple-bullets">Workplace Diversity and Inclusion: Fostering an inclusive work environment</li>
</ul>
{% endblock %}
