{% extends "base.html" %}

{% block title %}Home | Fortis Global Systems{% endblock %}

{% block content %}
<h2 class="div-container">Quality Assurance and Compliance</h2>
<p class="smaller">At FGS, quality is our top priority. We adhere to international and industry-specific standards to guarantee reliability and compliance. Key elements of our Quality Assurance framework include:</p>
<ul class="bullet-container">
    <li class="simple-bullets">ISO Certification Compliance</li>
    <li class="simple-bullets">Continuous Process Improvement</li>
    <li class="simple-bullets">Client-Centric Approach</li>
    <li class="simple-bullets">Rigorous Safety and Security Protocols</li>
</ul>   
{% endblock %}
