{% extends "base.html" %}

{% block title %}Home | Fortis Global Systems{% endblock %}

{% block content %}
<h2 class="div-container">Consultation and Compliance Services</h2>
<p class="smaller">FGS provides on-demand expertise to address technical and regulatory compliance challenges, offering:</p>
<ul class="bullet-container">
    <li class="bullets">Regulatory Roadmaps: Assistance in charting global market compliance (Required vs. Recommended, Mandatory vs. Voluntary) by region, state, or country.</li>
    <li class="bullets">Product Regulatory Compliance Execution: End-to-end support for product certifications and market approvals.</li>
    <li class="bullets">Compliance Areas Covered:
        <ul class="areas-covered-container">
            <li>Regulatory Roadmaps: Assistance in charting global market compliance (Required vs. Recommended, Mandatory vs. Voluntary) by region, state, or country.</li>
            <li>Product Regulatory Compliance Execution: End-to-end support for product certifications and market approvals.</li>
            <li>Compliance Areas Covered:</li>
        </ul>
    </li>
</ul>
{% endblock %}
